* {
    border: 1px solid red;
}
h1 {
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size: 72px;
    color: #EFC7C2;
}
h2 {
    font-family: 'Lobster';
    color: #EFC7C2;
}
#header {
    background-image: url(salmon.png);
    text-align: center;
    height: 250px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-bottom: 300px;
}
#cookieimg {
    float: left;
}
#title {
    padding-top: 110px;
}
img {
    padding: 15px;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: #5CA4A9;
    color: #354d6d;
    font-size: 16px;
}


#content {
    order: 1;
    width: 70%;
    max-width: 1000px;
    background-color: #D7FDF0;
    padding: 40px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
}
#locations {
    display: flex;
    justify-content: space-around;

}

#sidebar {
    order: 2;
    width: 25%;
    background-color: #D7FDF0;
    padding: 40px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
    text-align: center;
}
#main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;    
}


